---
layout: default
bodyClass: tpl-home
title: Gonto — An engineering approach to marketing
---

<main id="main" class="page-main" role="main">

    <header id="home-hero" class="hero-intro ps-home-hero">
        <div class="container">
            <div class="hero-intro__wrapper">
                <header class="hero__header">
                    <h1 class="hero__title wow fadeInDown">An <strong>engineering</strong> approach to <strong class="hero__title__concept">marketing</strong></h1>
                    <p class="hero__subtitle wow fadeInDown">The rise of the <a href="#"><strong><abbr title="Chief Technology Marketing Office">CTMO</abbr></strong></a></p>
                    <figure class="hero-intro__step hero-intro__step--1 wow fadeIn">
                        {% include images/home-hero-step-1.svg %}
                    </figure>
                    <figure class="hero-intro__step hero-intro__step--2 wow fadeIn">
                        {% include images/home-hero-step-2.svg %}
                    </figure>
                    <figure class="hero-intro__step hero-intro__step--3 wow fadeIn">
                        {% include images/home-hero-step-3.svg %}
                    </figure>
                    <figure class="hero-intro__step hero-intro__step--4 wow fadeIn">
                        {% include images/home-hero-step-4.svg %}
                    </figure>
                </header><!-- .hero__header -->
            </div><!-- .hero-intro__wrapper -->


        </div><!-- .container -->
        <a class="hero__read-more js-hero-read-more wow fadeInDown" href="#home-about">
            <span class="text">Read more</span>
            <i class="icon">{% include images/nav-arrow-down.svg %}</i>
        </a>
    </header><!-- .ps-home-hero -->

    <section id="home-about" class="page-section ps-home-about">
        <div class="container">

            <header class="page-section__header">

                <p class="page-section__name">About me</p>
                <figure class="ps-home-about__portrait">
                    <img src="{{ site.url}}/images/home-about-portrait.jpg" alt="Gonto">
                </figure>
                <h2 class="page-section__title">Hi! I’m Martin Gontovnikas, but everybody calls me &ldquo;Gonto&rdquo;.</h2>
            </header><!-- .page-section__header -->

            <div class="page-section__content">
                <p>
                    I’m a software engineer theat now works on Marketing. Wait, what? Yes, I found a way to combine my 2 passions and apply my <a class="js-scroll-to" href="#home-method">engineering thinking model</a> to Marketing.
                </p>

                {% include social-links.html %}

                <div class="actions">
                    <ul>
                        <li>
                            <a href="{{ site.url }}/about" class="btn btn--hollow btn--more">My story <i class="icon icon-arrow-right"></i></a>
                        </li>
                    </ul>
                </div><!-- .actions -->
            </div><!-- .page-section__content -->

        </div><!-- .container -->

    </section><!-- .ps-home-about -->


    <section id="home-method" class="page-section ps-home-method">
        <span class="dots-decoration"></span>
        <div class="container">

            <header class="page-section__header">
                <p class="page-section__name">Methodology</p>
                <h2 class="page-section__title">The engineering approach</h2>
                <p class="page-section__subtitle">
                    Marketing is all about sending the right message to the right audience to get an expected response. Even though this sounds easy, it’s certainly not. An engineering approach lets you decompose this big problem into smaller pieces that you can tackle by running continuous experiments that are <strong>validated by data</strong>.
                </p>
            </header><!-- .page-section__header -->

            <div class="page-section__content">

                <div class="method">

                    <nav class="method__nav">
                        <ol class="nav nav-tabs">
                            {% for step in site.data.method-steps %}
                            <li role="presentation" {% if forloop.index == 1 %} class="active" {% endif %}>
                                <button data-index="step-{{ forloop.index }}"><span class="number">{{step.number}}</span> {{step.short_title}}</button>
                            </li>
                            {% endfor %}
                        </ol>
                    </nav><!-- .method-steps__nav -->

                    <div class="method__content">

                        <ol class="method__list owl-carousel">
                            <!-- TODO: Uglyyyyyyy bug. Find a way to bind the left arrow to the steps when resizing the window -->
                            {% for step in site.data.method-steps %}
                            <li data-step="step-{{ forloop.index }}" class="method__item {% if forloop.index == 1 %}active{% endif %}">

                                <div class="method-step">
                                    <aside class="method-step__aside">
                                        <figure class="method-step__image">
                                        {% include images/methodology_0{{forloop.index}}.svg %}
                                        </figure>
                                    </aside>
                                    <div class="method-step__body">
                                        <div class="invisible-item"></div>
                                        <div class="heading">
                                            <span class="method-step__number">{{step.number}}</span>
                                            <h3 class="method-step__title">{{step.title}}</h3>
                                            <div class="method-step__content">
                                                <p>{{step.body}}</p>
                                            </div><!-- .method-step__content -->
                                        </div><!-- .heading -->
                                        <div class="actions">
                                            <ul>
                                                <li>
                                                    <button class="btn btn--primary btn--small js-method-step-next">
                                                        {% if forloop.index == 6 %}
                                                            Let's start over!
                                                        {% else %}
                                                            Next
                                                        {% endif %}
                                                    </button>
                                                </li>
                                            </ul>
                                        </div><!-- .actions -->
                                    </div><!-- .method-step__content -->
                                </div><!-- .method-step -->

                            </li><!-- .method-step -->
                            {% endfor %}

                        </ol><!-- .method-steps -->

                    </div><!-- .method__content -->

                </div><!-- .method -->

            </div><!-- .page-section__content -->

        </div><!-- .container -->
    </section><!-- .ps-home-method -->


    <section id="home-blog" class="page-section ps-home-blog">
        <div class="container">

            <header class="page-section__header">
                <p class="page-section__name">Thoughts</p>
                <h2 class="page-section__title">Latest ramblings...</h2>
            </header><!-- .page-section__header -->

            <div class="page-section__content">

                <div class="blog" itemscope itemprop="Blog" itemtype="http://schema.org/Blog">

                    <ul class="blog-list">
                        {% for article in site.posts limit: 4 %}
                        <li class="blog-list__item">
                            {% include blog-item.html article=article excerpt=false index=forloop.index %}
                        </li><!-- .blog-list__item -->
                        {% endfor %}
                    </ul><!-- .blog-list -->

                </div><!-- .blog -->
                <div class="actions">
                    <ul>
                        <li>
                            <a href="{{ site.url }}/thoughts" class="btn btn--more btn--hollow">More thoughts <i class="icon icon-arrow-right"></i></a>
                        </li>
                    </ul>
                </div><!-- .actions -->

            </div><!-- .page-section__content -->

        </div><!-- .container -->
    </section><!-- .ps-home-about -->


</main><!-- .page-main -->
