---
layout: default
bodyClass: tpl-services
title: Services
---

<main id="main" class="page-main" role="main">

    <div class="hero-wrapper">

        <header class="page-header">
            <div class="hero hero--large">
                <div class="container container--thin">
                    <div class="hero__heading">
                        <p class="page__name wow fadeInDown">Services</p>
                        <h1 class="page__title">
                            <span class="wow fadeInDown">Marketing for developers</span> <small class="wow fadeInDown">(and non-developers too...)</small>
                        </h1>
                    </div><!-- .hero__heading -->
                </div><!-- .container -->
            </div><!-- .hero -->
        </header><!-- .page-header -->

        <section id="services-what" class="page-section ps-services-what">
            <div class="container">

                <header class="page-section__header sr-only">
                    <h2>What do I do?</h2>
                </header>
                <div class="page-section__body">

                    <div class="page-subsection">
                        <header class="page-subsection__header">
                            <img class="icon" src="{{ site.url }}/images/services-b2d-icon.svg" alt="B2D" />
                            <h3 class="page-subsection__title">Developer Platform <small class="badge">Expert</small></h3>
                        </header>
                        <div class="page-subsection__body">
                            <dl>
                                <dt>What is it?</dt>
                                <dd>
                                    B2D are a new ecosystem of companies that bypasses traditional enterprise IT and sells directly to developers. B2Ds are a subclass of a B2B.
                                </dd>
                            </dl>
                            <dl>
                                <dt>Why me?</dt>
                                <dd>
                                    Being a developer and system engineer gives me the perfect background and perspective to be able to successfully market to developers.
                                </dd>
                            </dl>
                        </div><!-- .page-subsection__body -->
                    </div><!-- .page-subsection -->

                    <div class="page-subsection">
                        <header class="page-subsection__header">
                            <img class="icon" src="{{ site.url }}/images/services-b2b-icon.svg" alt="B2B" />
                            <h3 class="page-subsection__title">Business to Business</h3>
                        </header>
                        <div class="page-subsection__body">
                            <dl>
                                <dt>What is it?</dt>
                                <dd>
                                    A B2B, also known as e-biz, is a typical case where a company is selling a software or a service subscription to another company instead of selling directly to consumers.
                                </dd>
                            </dl>
                            <dl>
                                <dt>Why me?</dt>
                                <dd>
                                    My engineering background and my marketing experience gives me the right mindset to create and optimize data driven marketing experiments to target companies.
                                </dd>
                            </dl>
                        </div><!-- .page-subsection__body -->
                    </div><!-- .page-subsection -->

                </div><!-- .page-section__body -->

            </div><!-- .container -->
        </section><!-- .page-section -->

        <div class="hero__credit">
            <!-- TODO: @Gonto: Add photo credit -->
            <span class="credit__locale">Name of conference and year.</span>
            Photo by <a href="https://unsplash.com/@hoachld">Hoach Le Dinh</a>
        </div>
    </div><!-- .hero-wrapper -->



    <section id="services-areas" class="page-section ps-services-areas">
        <div class="container">

            <header class="page-section__header">
                <h2 class="page-section__title">Areas of expertise</h2>
            </header>

            <div class="page-section__body">

                <div class="services-areas">

                    <div class="areas__filters">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active">
                                <button data-filter="*">All</button>
                            </li>
                            {% for area in site.data.areas %}
                            <li role="presentation">
                                <button data-filter="{{ area.slug }}">{{ area.name }}</button>
                            </li>
                            {% endfor %}
                        </ul>
                    </div><!-- .areas__filters -->

                    <ul class="areas__list">
                        {% assign all_services = "" | split: "" %}
                        {% for area in site.data.areas %}
                            {% for service in area.services %}
                                {% assign all_services = all_services | push: service %}
                            {% endfor %}
                        {% endfor %}

                        {% assign services = all_services | sort: 'name' %}
                        {% for service in services %}

                        <li class="areas__item" data-category="{{ service.area_slug] }}">
                            <div class="area">
                                <i class="area__icon">
                                    <img src="{{ site.url}}/images/areas/areas-icon-{{ service.icon }}.svg" alt="{{ service.name }}">
                                </i>
                                <h3 class="area__title">{{ service.name }}</h3>
                                <p class="area__description">{{ service.description }}</p>
                            </div><!-- .area -->
                        </li><!-- .areas__item -->
                        {% endfor %}
                    </ul><!-- .areas__list -->
                </div><!-- .services-areas -->

            </div><!-- .page-section__body -->


        </div><!-- .container -->
    </section><!-- .page-section -->

</main><!-- .page-main -->
