---
layout: default
bodyClass: tpl-services
---

<main id="main" class="page-main" role="main">

    <header class="hero">
        <div class="container">
            <p class="page__name">Services</p>
            <h1 class="page__title">Marketing for developers <small>(and non-developers too...)</small></h1>
        </div><!-- .container -->
    </header><!-- .hero -->

    <section id="services-what" class="page-section ps-services-what">
        <div class="container">

            <header class="page-section__header sr-only">
                <h2>What do I do?</h2>
            </header>
            <div class="page-section__body">
                <ul>
                    <li>
                        <header>
                            <img class="" src="http://placehold.it/80x80" alt="B2D" />
                            <h3 class="">Developer Platform <small class="badge">Expert</small></h3>
                        </header>
                        <div class="">
                            <dl>
                                <dt>What is it:</dt>
                                <dd>
                                    B2D are a new ecosystem of companies that bypasses traditional enterprise IT and sells directly to developers via the cloud. B2Ds are a subclass of a B2B, since the developers you’re selling to are part of a company which eventually buys the SaaS subscription.
                                </dd>
                            </dl>
                            <dl>
                                <dt>Why me:</dt>
                                <dd>
                                    Being a developer and system engineer gives me the right background and perspective to be able to successfully market to developers.
                                </dd>
                            </p>
                        </div>
                    </li>
                    <li>
                        <header>
                            <img class="" src="http://placehold.it/80x80" alt="B2B" />
                            <h3>Business to Business</h3>
                        </header>
                        <div class="">
                            <dl>
                                <dt>What is it:</dt>
                                <dd>
                                    A B2B is a typical case where a company is selling a software or a service subscription to another company.
                                </dd>
                            </dl>
                            <dl>
                                <dt>Why me:</dt>
                                <dd>
                                    My engineering background and my marketing experience gives me the right mindset to create and optimize data driven marketing experiments to target companies.
                                </dd>
                            </dl>
                        </div>
                    </li>
                </ul>
            </div><!-- .page-section__body -->

        </div><!-- .container -->
    </section><!-- .page-section -->


    <section id="services-areas" class="ps-services-areas">
        <div class="container">

            <header class="page-section__header sr-only">
                <h2>Areas of Expertise</h2>
            </header>

            <div class="page-section__body">
                <ul>
                    <li>
                        <button>All</button>
                    </li>
                    {% for area in site.data.areas %}
                    <li>
                        <button>{{ area.name }}</button>
                    </li>
                    {% endfor %}
                </ul>


                <ul>
                    {% for area in site.data.areas %}
                        {% for service in area.services %}
                        <li data-category="{{ area.slug }}">
                            <h3>{{ service.name }}</h3>
                            <p>{{ service.description }}</p>
                        </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div><!-- .page-section__body -->


        </div><!-- .container -->
    </section><!-- .page-section -->


    <section id="services-how" class="page-section ps-services-how">
        <div class="container">
            <header class="page-section__header sr-only">
                <h2>How do I do it?</h2>
            </header>

            <div class="page-section__body">
                <div class="">
                    <h3>Training</h3>
                    <p>
                        I can help your company get proficient with the engineering approach to marketing by giving trainings that will expand your employee's knowledge by learning both theory on how to apply it as well as practice with real life examples.
                    </p>
                </div>

                <div class="">
                    <h3>Consulting</h3>
                    <p>
                        I can help your company get proficient with the engineering approach to marketing by giving trainings that will expand your employee's knowledge by learning both theory on how to apply it as well as practice with real life examples.
                    </p>
                </div>
            </div><!-- .page-section__body -->

        </div><!-- .container -->
    </section><!-- .page-section -->

</main><!-- .page-main -->
