---
layout: default
bodyClass: tpl-services
title: Services
---

<main id="main" class="page-main" role="main">

    <div class="hero-wrapper">

        <header class="page-header">
            <div class="hero hero--large">
                <div class="container container--thin">
                    <div class="hero__heading">
                        <p class="page__name">Services</p>
                        <h1 class="page__title">Marketing for developers <small>(and non-developers too...)</small></h1>
                    </div><!-- .hero__heading -->
                </div><!-- .container -->
            </div><!-- .hero -->
        </header><!-- .page-header -->

        <section id="services-what" class="page-section ps-services-what">
            <div class="container">

                <header class="page-section__header sr-only">
                    <h2>What do I do?</h2>
                </header>
                <div class="page-section__body">

                    <div class="page-subsection">
                        <header class="page-subsection__header">
                            <img class="icon" src="{{ site.url }}/images/services-b2d-icon.svg" alt="B2D" />
                            <h3 class="page-subsection__title">Developer Platform <small class="badge">Expert</small></h3>
                        </header>
                        <div class="page-subsection__body">
                            <dl>
                                <dt>What is it?</dt>
                                <dd>
                                    B2D are a new ecosystem of companies that bypasses traditional enterprise IT and sells directly to developers via the cloud. B2Ds are a subclass of a B2B, since the developers you’re selling to are part of a company which eventually buys the SaaS subscription.
                                </dd>
                            </dl>
                            <dl>
                                <dt>Why me?</dt>
                                <dd>
                                    Being a developer and system engineer gives me the right background and perspective to be able to successfully market to developers.
                                </dd>
                            </dl>
                        </div><!-- .page-subsection__body -->
                    </div><!-- .page-subsection -->

                    <div class="page-subsection">
                        <header class="page-subsection__header">
                            <img class="icon" src="{{ site.url }}/images/services-b2b-icon.svg" alt="B2B" />
                            <h3 class="page-subsection__title">Business to Business</h3>
                        </header>
                        <div class="page-subsection__body">
                            <dl>
                                <dt>What is it?</dt>
                                <dd>
                                    A B2B is a typical case where a company is selling a software or a service subscription to another company.
                                </dd>
                            </dl>
                            <dl>
                                <dt>Why me?</dt>
                                <dd>
                                    My engineering background and my marketing experience gives me the right mindset to create and optimize data driven marketing experiments to target companies.
                                </dd>
                            </dl>
                        </div><!-- .page-subsection__body -->
                    </div><!-- .page-subsection -->

                </div><!-- .page-section__body -->

            </div><!-- .container -->
        </section><!-- .page-section -->
    </div><!-- .hero-wrapper -->



    <section id="services-areas" class="page-section ps-services-areas">
        <div class="container">

            <header class="page-section__header">
                <h2 class="page-section__title">Areas of expertise</h2>
            </header>

            <div class="page-section__body">

                <div class="services-areas">

                    <div class="areas__filters">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active">
                                <button data-filter="*">All</button>
                            </li>
                            {% for area in site.data.areas %}
                            <li role="presentation">
                                <button data-filter="{{ area.slug }}">{{ area.name }}</button>
                            </li>
                            {% endfor %}
                        </ul>
                    </div><!-- .areas__filters -->

                    <ul class="areas__list">
                        {% assign all_services = "" | split: "" %}
                        {% assign areas = "" | split: "" %}
                        {% for area in site.data.areas %}
                            {% for service in area.services %}
                                {% assign areas = areas | push:area.slug %}
                                {% assign all_services = all_services | push: service %}
                            {% endfor %}
                        {% endfor %}
                        <!-- TODO: We need the sorting done in the Array, because we removed the Isotope plugin -->
                        {% for service in all_services %}

                        <!-- {{ {% include {{service.icon}}_icon_svg %} }} -->
                        <li class="areas__item" data-category="{{ areas[forloop.index0] }}">
                            <div class="area">
                                <i class="area__icon">
                                    <img src="{{ site.url}}/images/areas/areas-icon-{{ service.icon }}.svg" alt="{{ service.name }}">
                                </i>
                                <h3 class="area__title">{{ service.name }}</h3>
                                <p class="area__description">{{ service.description }}</p>
                            </div><!-- .area -->
                        </li><!-- .areas__item -->
                        {% endfor %}
                    </ul><!-- .areas__list -->
                </div><!-- .services-areas -->

            </div><!-- .page-section__body -->


        </div><!-- .container -->
    </section><!-- .page-section -->

</main><!-- .page-main -->
