<div class="article-section article-share">
    <div class="container">
        <div class="article-share__links">

            <dl class="share-links">
                <dt>Share on</dt>
                <dd>
                    <div class="social-links">
                        <ul class="nav">
                            <li>
                                <a href="#" data-url="https://gon.to/{{page.url}}" data-type="twitter" data-txt="{{page.title}}" data-via="mgonto" data-count="true" class="js-share-btn">
                                    <i class="icon icon-twitter"></i>
                                    <span class="text">Twitter</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-url="https://gon.to/{{page.url}}" data-type="facebook" data-txt="{{page.title}}" data-via="mgonto" data-count="true" class="js-share-btn">
                                    <i class="icon icon-facebook"></i>
                                    <span class="text">Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-url="https://gon.to/{{page.url}}" data-type="linkedin" data-txt="{{page.title}}" data-via="mgonto" data-count="true" class="js-share-btn">
                                    <i class="icon icon-linkedin"></i>
                                    <span class="text">Linkedin</span>
                                </a>
                            </li>
                        </ul>
                    </div><!-- .social-links -->
                </dd>
            </dl>

        </div><!-- .article-share__links -->


        <div class="article-share__comments">

            <div class="share-comments">
                {% if page.dsq_thread_id %}
                <a href="{{page.url}}#comments" class="btn btn--hollow js-scroll-to">
                    <span class="disqus-comment-count" data-disqus-identifier="{{page.dsq_thread_id}}">Comments</span>
                </a>
                {% else %}
                <a href="{{page.url}}#comments" class="btn btn--hollow js-scroll-to">
                    <span class="disqus-comment-count" data-disqus-url="https://gon.to{{page.url}}">Comments</span>
                </a>
                {% endif %}
            </div><!-- .share-comments -->

        </div><!-- .article-share__comments -->
    </div><!-- .container -->
</div><!-- .article-share -->
