{% assign current = page %}

{% assign minutes = article.content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<article class="blog-item" itemscope itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
    <div class="blog-item__image">
        <a href="{{article.url}}">
            {% if article.case_study %}
            <span class="badge">Case study</span>
            {% endif %}

            <img itemprop="thumbnailUrl" src="{% if article.thumb %} {% else %} {{site.url}}/images/posts/generic/post-thumb-0{% random 1:9 %}.jpg {% endif %}" alt="{{ article.title }}" />
        </a>
    </div><!-- .blog-item__image -->
    <div class="blog-item__content" itemprop="text">
        <h3 class="blog-item__title" data-mh="blog-item-title"><a href="{{article.url}}" itemprop="name">{{ article.title }}</a></h3>
        <div class="blog-item__meta">
            <time class="date">{{ article.date | date: "%m-%d-%Y"}}</time>
        </div><!-- .blog-item__meta -->

        {% if include.excerpt %}
        <p class="blog-item__excerpt" data-mh="blog-item-excerpt">{{article.description}}</p>
        {% endif %}

        <div class="actions">
            <ul>
                <li><a href="{{article.url}}" class="btn btn--more">{{minutes}} min read <i class="icon icon-arrow-right"></i></a></li>
            </ul>
        </div><!-- .actions -->
    </div><!-- .blog-item__content -->
</article><!-- .blog-item -->
