<article class="blog-item" itemscope itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
    <div class="blog-item__image">
        <a href="{{ article.url }}">
            <img itemprop="thumbnailUrl" src="http://placehold.it/500x400" alt="{{ article.title }}" />
        </a>
    </div><!-- .blog-item__image -->
    <div class="blog-item__content" itemprop="text">
        <h3 class="blog-item__title"><a href="{{article.url}}" itemprop="name">{{ article.title }}</a></h3>
        <div class="blog-item__meta">
            <span class="date">{{ article.date | date: "%m-%d-%Y"}}</span>
            <span itemprop="author">{{ article.author }}</span>
        </div><!-- .blog-item__meta -->

        {% if article.excerpt %}
        <p class="blog-item__excerpt">{{ article.excerpt }}</p>
        {% endif %}

        <div class="actions">
            <ul>
                <li><a href="{{ article.url }}" class="btn btn--more">{{ article.read_time }} min read</a></li>
            </ul>
        </div><!-- .actions -->
    </div><!-- .blog-item__content -->
</article><!-- .blog-item -->
