<div class="form-wrapper">

    <div class="alert alert--success js-contact-form-ok"></div>
    <div class="alert alert--error js-contact-form-error"></div>
    <span class="spinner" title="0">
        {% include images/spinner.svg %}
    </span><!-- .spinner -->

    <form class="form form--alt contact-form" autocomplete="off">
        <fieldset>
            <div class="form-group">
                <label class="control-label" for="firstname">First name <span class="req">*</span></label>
                <input name="firstname" class="form-control needsclick" type="text" placeholder="First Name*" required="required" />
            </div><!-- .form-group -->

            <div class="form-group">
                <label class="control-label" for="lastname">Last name <span class="req">*</span></label>
                <input name="lastname" class="form-control needsclick" type="text" placeholder="Last Name*" required="required" />
            </div><!-- .form-group -->

            <div class="form-group">
                <label class="control-label" for="email">Email address <span class="req">*</span></label>
                <input name="email" class="form-control needsclick" type="email" placeholder="Email address*" required="required" />
            </div><!-- .form-group -->

            <div class="form-group">
                <label class="control-label" for="company">Company</label>
                <input name="company" class="form-control needsclick" type="text" placeholder=" Company" />
            </div><!-- .form-group -->

            <div class="form-group">
                <label class="control-label" for="message">Tell me more <span class="req">*</span></label>
                <div class="textarea-wrapper">
                    <textarea class="js-form-comments needsclick" rows="12" name="message" placeholder="Tell me more" required="required"></textarea>
                </div>
            </div><!-- .form-group -->
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn--terciary js-send-btn js-contact-form-send-btn">Send</button>
        </div><!-- .form-actions -->
    </form>

</div><!-- .form-wrapper -->
