<!--
<div class="alert alert--success">
    Thank you! I'll be in touch shortly.
</div>
<div class="alert alert--error">
    There was an error submitting the form. Please try again later.
</div>
-->

<form class="form form--alt contact-form" autocomplete="off">
    <fieldset>
        <div class="form-group">
            <!-- TODO: @Gonto: Should we add an error class and validation styles? -->
            <label class="control-label" for="firstname">First name <span class="req">*</span></label>
            <input name="firstname" class="form-control" type="text" placeholder="First Name*" required="required" />
        </div><!-- .form-group -->

        <div class="form-group">
            <label class="control-label" for="lastname">Last name <span class="req">*</span></label>
            <input name="lastname" class="form-control" type="text" placeholder="Last Name*" required="required" />        </div><!-- .form-group -->

        <div class="form-group">
            <label class="control-label" for="email">Email address <span class="req">*</span></label>
            <input name="email" class="form-control" type="email" placeholder="Email address*" required="required" />
        </div><!-- .form-group -->

        <div class="form-group">
            <label class="control-label" for="company">Company</label>
            <input name="company" class="form-control" type="text" placeholder=" Company" required="required" />
        </div><!-- .form-group -->

        <div class="form-group">
            <textarea class="js-form-comments" rows="1" name="message" placeholder="Tell me more" required="required"></textarea>
            <label class="control-label" for="message">Tell me more <span class="req">*</span></label>
        </div><!-- .form-group -->
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn--terciary js-send-btn js-contact-form-send-btn">
            <span class="text">Send</span>
            <span class="spinner" title="0">
                {% include images/spinner.svg %}
            </span><!-- .spinner -->
        </button>
    </div><!-- .form-actions -->
</form>
