<div class="footer-newsletter">
    <div class="container">

        <img src="http://placehold.it/150x150" alt="">

        <header class="page-section__header">
            <!-- TODO: Replace placeholder text -->
            <h2 class="page-section__title">Join 10,000+ of your marketing peers and subscribe to get notified of new blog posts. Never miss a new post!</h2>
        </header><!-- .page-section__header -->
        <div class="page-section__body">

            <form class="form subscribe-form" action="/">
                <div class="form-group">
                    <label for="subscribe_email">Your e-mail address</label>
                    <input type="email" name="subscribe_email" placeholder="Your e-mail address">
                </div><!-- .form-group -->
                <button type="submit" class="btn btn--hollow">Subscribe</button>
            </form>
        </div><!-- .page-section__body -->

    </div><!-- .container -->
</div><!-- .footer-newsletter -->
