<div class="footer-newsletter" id="footer-newsletter">
    <div class="container">

        <figure class="footer-newsletter__img">
            <img src="http://placehold.it/96x96" alt="">
        </figure>
        <header class="page-section__header">
            <!-- TODO: @Gonto: Can you replace placeholder text for this title? -->
            <h2 class="page-section__title">Subscribe to get notified of new blog posts. Never miss a new post!</h2>
        </header><!-- .page-section__header -->
        <div class="page-section__body">

            {% include subscribe-form.html %}

        </div><!-- .page-section__body -->

    </div><!-- .container -->
</div><!-- .footer-newsletter -->
