
		</div><!-- .site-content -->

		<footer class="site-footer">
			<div class="container container--fluid">

				<nav class="site-footer__nav">
					<ul class="nav">
						<li>
							<a class="site-footer-logo" href="#page">
								<i class="icon">{% include images/logo-sm.svg %}</i>
								<span class="text">Go up!</span>
							</a>
						</li>
					</ul>
				</nav><!-- .site-footer__nav -->

				<div class="site-footer__copy">
					{{ site.time | date: '%Y' }} &copy; Martin Gontovnikas
				</div><!-- .site-footer__copy -->

				<div class="site-footer__social">
					<dl>
						<dt>
							Follow me
						</dt>
						<dd>
							<div class="social-links">
								<ul>
									<li>
										<!-- TODO: bug. Icons not showing -->
										<a rel="external" href="https://twitter.com/mgonto">
											<svg><use xlink:href="#icon-twitter" /></svg>
										</a>
									</li>
									<li>
										<a rel="external" href="http://linkedin.com/in/mgonto">
											<svg><use xlink:href="#icon-linkedin" /></svg>
										</a>
									</li>
									<li>
										<a rel="external" href="https://github.com/mgonto">
											<svg><use xlink:href="#icon-github" /></svg>
										</a>
									</li>
								</ul>
							</div><!-- .social-links -->
						</dd>
					</dl>
				</div><!-- .site-footer__social -->


			</div><!-- .container -->
		</footer><!-- .site-footer -->
	</div><!-- .site -->

	{% include contact-modal.html %}

	<script src="{{ site.url }}/scripts/app.js"></script>


</body>
</html>
