<div class="footer-contact" id="footer-contact">
    <div class="container container--thin">

        <header class="page-section__header">
            <h2 class="page-section__title">Get in touch!</h2>
            <!-- TODO: @Gonto: Should we remove the subtitle? -->
            <!-- <p class="page_section__subtitle">
                If you’re planning a project you’d like to discuss or interested in working with me please get it touch − I’d love to hear from you.
            </p> -->
        </header><!-- .page-section__header -->

        <div class="page-section__body">

            {% include contact-form.html %}

        </div><!-- .page-section__body -->

    </div><!-- .container -->
</div><!-- .footer-contact -->
