
		</div><!-- .site-content -->

		<footer class="site-footer">
			<div class="container container--fluid">

				<nav class="site-footer__nav">
					<a class="site-footer-logo js-go-up" title="Go up!" href="{{ page.url }}#page">
						<i class="icon">{% include images/logo-sm.svg %}</i>
						<span class="text">Go up!</span>
					</a>
				</nav><!-- .site-footer__nav -->

				<div class="site-footer__copy">
					{{ site.time | date: '%Y' }} &copy; Martin Gontovnikas
				</div><!-- .site-footer__copy -->

				<div class="site-footer__social">
					<dl>
						<dt>Follow me</dt>
						<dd>
							{% include social-links.html %}
						</dd>
					</dl>
				</div><!-- .site-footer__social -->

			</div><!-- .container -->
		</footer><!-- .site-footer -->
	</div><!-- .site -->

	
	<script src="{{ site.url }}/scripts/app.js"></script>
        {% if site.google_analytics %}
        <!-- Asynchronous Google Analytics snippet -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', '{{ site.google_analytics }}', 'auto');
          ga('require', 'linkid', 'linkid.js');
          ga('send', 'pageview');
        </script>
        {% endif %}

	{% include contact-modal.html %}
</body>
</html>
