<div class="footer-newsletter" id="footer-newsletter">
    <div class="container">

        <div class="form-wrapper">

            <div class="alert alert--success js-subscribe-form-ok"></div>
            <div class="alert alert--error js-subscribe-form-error"></div>
            <span class="spinner" title="0">
                {% include images/spinner.svg %}
            </span><!-- .spinner -->

            <div class="subscribe-form-area">
                <header class="footer-newsletter__header">
                    <figure class="footer-newsletter__img">
                        {% include images/newsletter-buddy.svg %}
                    </figure>
                    <h2 class="footer-newsletter__title">Subscribe to get new awesome blog posts in your inbox once a month!</h2>
                </header><!-- .page-section__header -->
                <div class="footer-newsletter__body">

                    {% include subscribe-form.html %}

                </div><!-- .page-section__body -->
            </div><!-- .subscribe-form-area -->

        </div><!-- .form-wrapper -->

    </div><!-- .container -->
</div><!-- .footer-newsletter -->
