
		</div><!-- .site-content -->

		<footer class="site-footer">
			<div class="container container--fluid">

				<div class="site-footer__copy">
					Copyright &copy; 2016 &mdash; Martin Gontovnikas
				</div><!-- .site-footer__copy -->

				<div class="site-footer__social">
					<dl>
						<dt>
							Follow me
						</dt>
						<dd>
							<div class="social-links">
								<ul>
									<li>
										<a rel="external" href="https://twitter.com/mgonto">
										<i class="icon icon-twitter"></i>
										<span class="text">Twitter</span>
										</a>
									</li>
									<li>
										<a rel="external" href="http://linkedin.com/in/mgonto">
										<i class="icon icon-linkedin"></i>
										<span class="text">LinkedIn</span>
										</a>
									</li>
									<li>
										<a rel="external" href="https://github.com/mgonto">
										<i class="icon icon-github"></i>
										<span class="text">Github</span>
										</a>
									</li>
								</ul>
							</div><!-- .social-links -->
						</dd>
					</dl>
				</div><!-- .site-footer__social -->


			</div><!-- .container -->
		</footer><!-- .site-footer -->
	</div><!-- .site -->

	<script src="{{ site.url }}/scripts/app.js"></script>


</body>
</html>
