<!doctype html>
<!--[if IE 9]>
<html lang="en" class="ie ie9">
<![endif]-->
<!--[if lt IE 9]>
<html lang="en" class="ie ie-legacy">
<![endif]-->
<html class="no-js" lang="en">

    {% include head.html %}

    <body class="{{include.bodyClass}} {{page.bodyClass}}">

        <div id="page" class="site">
            <header class="site-header site-header--fixed" role="banner">
                <nav class="navbar js-navbar">
                    <div class="container">
                        <div class="navbar__header">
                            <div class="navbar__brand">
                                <a href="{{ site.url }}" class="brand-logo">
                                    Gonto
                                </a>
                            </div><!-- .navbar-brand -->
                            <div class="navbar__toggle">
                                <button type="button" class="navbar-toggle-btn  js-navbar-toggle">
                                    <span class="text">Menu</span>
                                    <i class="icon icon-bars"></i>
                                </button>
                            </div><!-- .navbar-toggle-btn -->
                        </div><!-- .navbar__header -->

                        <div class="navbar__collapse js-nav-overlay">

                            <button class="navbar-toggle-btn js-navbar-toggle">
                                <span class="text">Close</span>
                                <i class="icon icon-close"></i>
                            </button>

                            <div class="navbar__collapse__wrapper">
                                <ul class="nav navbar__nav navbar__nav--left">
                                    <li {% if page.url == '/' %} class="active" {% endif %}>
                                        <a href="{{ site.url }}"><span>Home</span></a>
                                    </li>
                                    <li {% if page.url == '/services/' %} class="active" {% endif %}>
                                        <a href="{{ site.url }}/services/"><span>Services</span></a>
                                    </li>
                                    <li {% if page.url == '/thoughts/' or page.layout == 'post' %} class="active" {% endif %}>
                                        <a href="{{ site.url }}/thoughts/"><span>Thoughts</span></a>
                                    </li>
                                </ul><!-- .navbar__nav -->
                                <ul class="nav navbar__nav navbar__nav--right">
                                    <li {% if page.url == '/about/' %} class="active" {% endif %}>
                                        <a href="{{ site.url }}/about/"><span>About</span></a>
                                    </li>
                                    <li>
                                        <a class="js-contact-modal-toggle" href="#contact-modal"><span>Contact</span></a>
                                    </li>
                                </ul><!-- .navbar__nav -->

                            </div><!-- .navbar__collapse__wrapper -->
                        </div><!-- .navbar__collapse -->

                    </div><!-- .container -->
                </nav><!-- .navbar -->
            </header><!-- .site-header -->

            <div id="content" class="site-content">
