<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
    </title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <base href="/">

    <!-- Twitter Cards -->
    {% if site.owner.twitter %}
    {% if page.image.hero %}<meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ site.url }}/images/posts/{{ page.image.hero }}">
    {% else %}<meta name="twitter:card" content="summary">
    <!-- TODO: @Gonto: get twitter-card.png -->
    <meta name="twitter:image" content="{% if page.image.thumb %}{{ site.url }}/images/posts/{{ page.image.thumb }}{% else %}{{ site.url }}/images/social/{{ site.image }}{% endif %}">{% endif %}
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:creator" content="@{{ site.owner.twitter }}">{% endif %}

    <!-- Open Graph -->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    {% if page.image.hero %}
    <meta property="og:image" content="{{ site.url }}/images/posts/{{ page.image.hero }}">
    {% else %}
    <!-- TODO: @Gonto: get facebook-card.png -->
    <meta property="og:image" content="{% if page.image.thumb %}{{ site.url }}/images/posts/{{ page.image.thumb }}{% else %}{{ site.url }}/images/social/{{ site.image }}{% endif %}">
    {% endif %}
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:site_name" content="{{ site.title }}">

    {% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}
    {% if site.bing_verify %}<meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

    {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
    <link rel="canonical" href="{{ canonical }}">
    <link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/images/logos/apple-touch-icon-57x57.png?v=2">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.url }}/images/logos/apple-touch-icon-60x60.png?v=2">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/images/logos/apple-touch-icon-72x72.png?v=2">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/images/logos/apple-touch-icon-76x76.png?v=2">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/images/logos/apple-touch-icon-114x114.png?v=2">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/images/logos/apple-touch-icon-120x120.png?v=2">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/images/logos/apple-touch-icon-144x144.png?v=2">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/images/logos/apple-touch-icon-152x152.png?v=2">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/images/logos/apple-touch-icon-180x180.png?v=2">
    <link rel="icon" type="image/png" href="{{ site.url }}/images/logos/favicon-32x32.png?v=2" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.url }}/images/logos/favicon-194x194.png?v=2" sizes="194x194">
    <link rel="icon" type="image/png" href="{{ site.url }}/images/logos/favicon-96x96.png?v=2" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ site.url }}/images/logos/android-chrome-192x192.png?v=2" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ site.url }}/images/logos/favicon-16x16.png?v=2" sizes="16x16">
    <link rel="manifest" href="{{ site.url }}/images/logos/manifest.json?v=2">
    <link rel="mask-icon" href="{{ site.url }}/images/logos/safari-pinned-tab.svg?v=2" color="#f2461c">
    <link rel="shortcut icon" href="{{ site.url }}/images/logos/favicon.ico?v=2">
    <meta name="msapplication-TileColor" content="#f2461c">
    <meta name="msapplication-TileImage" content="{{ site.url }}/images/logos/mstile-144x144.png?v=2">
    <meta name="msapplication-config" content="{{ site.url }}/images/logos/browserconfig.xml?v=2">
    <meta name="theme-color" content="#f2461c">

    <!-- Styles -->
    {% if page.layout == 'post' %}
        <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700|Source+Code+Pro" rel="stylesheet" type="text/css">
    {% endif %}
    <link rel="stylesheet" href="{{ site.url }}/styles/app.css"/>

    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
</head>
