<div class="social-links">
    <ul class="nav">
        <li>
            <a rel="external" href="https://twitter.com/mgonto">
                <i class="icon icon-twitter"></i>
                <span class="text">Twitter</span>
            </a>
        </li>
        <li>
            <a rel="external" href="https://linkedin.com/in/mgonto">
                <i class="icon icon-linkedin"></i>
                <span class="text">Linkedin</span>
            </a>
        </li>
        <li>
            <a rel="external" href="https://github.com/mgonto">
                <i class="icon icon-github"></i>
                <span class="text">Github</span>
            </a>
        </li>
    </ul>
</div><!-- .social-links -->
