.body-content {
    p:last-child,
    ul:last-child,
    figure:last-child,
    blockquote:last-child {
        margin-bottom: 0;
    }
}

.body-content {
    .align-left {
    	display: inline;
    	float: left;
    	margin-right: $base-spacing-unit;
    	margin-bottom: 1em;
    }
    .align-right {
    	display: inline;
    	float: right;
    	margin-left: $base-spacing-unit;
    	margin-bottom: 1em;
    }
    .align-center {
    	display: block;
    	margin: 0 auto;
    }
}


p > code,
li > code,
dd > code,
td > code,
.highlighter-rouge {
    font-family: $font-family-code;
    border: solid 1px #e4e4e4;
    padding: 4px;
    background: #f5f7f8;
    font-size: 0.8em;
    border-radius: 3px;
    margin: 0 .25em;
}


.body-content figure,
.body-content pre {
    margin: 2.5em 0;
}

.body-content figcaption {
    margin-top: 1.25em;
    font-size: 0.9rem;
    color: $brand-primary-color-light;
    font-family: $heading-font-family;
    font-weight: $font-weight-normal;
}
