/* checkbox */

.jcf-checkbox {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	overflow: hidden;
	cursor: default;
	background: transparent;
	border: 2px solid $brand-primary-color-light;
	margin: 0 0.25em 0 0;
	height: 1.25em;
	width: 1.25em;
    bottom: 0.1em;
}
.jcf-checkbox span{
	position: absolute;
	opacity: 0;
	transform: scale(0.1);
	transition: all $base-transition-time--faster;
	height: 0.7em;
	width: 0.7em;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    &:before {
        content: "\f00c";
        font-family: 'icons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 0.85em;
		font-size: 0.75em;
        position: absolute;
        margin: 0 auto;
        top: 0; left: 0; bottom: 0; right: 0;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: $white;
    }




}
:root .jcf-checkbox span {
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

.jcf-checkbox input[type="checkbox"] {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
}
.jcf-checkbox.jcf-checked span{
	opacity: 1;
	transform: scale(1);
}


/* common styles */
.jcf-disabled {background: #ddd !important;}
.jcf-focus, .jcf-focus * {border-color: $brand-terciary-color !important;}
