#{$all-text-inputs},
textarea {
	-webkit-appearance: none;
	outline: none;
    border: none;
	border-bottom: $base-border-width solid $brand-primary-color;
	width: 100%;
	color: $brand-primary-color;
	background-color: transparent;
    font-size: 1rem;
	font-weight: $font-weight-normal;
	padding: 0.5em 0 0.75em 0;
	position: relative;
	display: block;
	border-radius: 0;
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
  	&:hover,
  	&:focus {
    	outline: none;
  	}
  	&:focus {
		border-color: $brand-terciary-color;
  	}
    @include placeholder {
        visibility: hidden;
		color: transparent;
  	}
	&:invalid {
		outline: none;
		box-shadow: none;
		border-bottom-color: $danger-color;
	}
}


textarea {
	resize: none;
    display: block;
    min-height: 1em;
	height: 2.6em;
    transition: height 0.3s cubic-bezier(.64,.09,.08,1) min-height 0.3s cubic-bezier(.64,.09,.08,1);
	overflow: hidden;
    &:focus {
     	min-height: 11.25em;
		@include respond-to("medium") {
			min-height: 8.75em;
		}
    }
}

.is-filled textarea {
	height: 11.25em;
	transition: none;
	@include respond-to("medium") {
		height: 8.75em;
	}
}

.is-filled textarea,
.is-focus textarea {
	overflow-x: hidden;
	overflow-y: auto;
}

select {
	width: 100%;
}

fieldset {
    border: none;
    padding: 0;
}

fieldset legend {
	display: none;
}


.form-group {
    margin-bottom: 2em;
}


/* Animated placeholder */

/* Animated placeholder */

.form-group {
	position: relative;
	padding-top: 1.7em;
}

.control-label {
    display: block;
    color: #70828A;
	position: absolute;
	pointer-events: none;
	transition: all 0.2s cubic-bezier(.64,.09,.08,1);
	left: 0;
	top: 2em;
}

.form-group.is-focus .control-label {
	color: $brand-terciary-color;
}

.form-group.is-focus .control-label,
.form-group.is-filled .control-label {
	top: 0;
}

.form-group--checkbox {
	padding-top: 0;
	.control-label {
		position: relative;
		top: 0;
	}
}



/* Checkboxes */

.checkbox{
	line-height: 1.4;
}

input[type="radio"],
input[type="checkbox"] {
	margin-right: 0.5em;
	position: relative;
	top: 0.3em;
}

.control-label + .checkbox {
    margin-top: 1.1em;
}

.checkbox__inline + .checkbox__inline,
.radio__inline + .radio__inline {
    margin-left: 1.25em;
}


// Multi-line label
.checkbox,
.radio {
	> label {
		display: flex;
		align-items: flex-start;
	}
}
.checkbox__label,
.radio__label {

}


/* Actions */

.form-actions{
    margin-top: 1em;
    text-align: center;
}

.form-actions .btn:only-child {
	padding-left: 3em;
	padding-right: 3em;
}


/* @group Validation */

.form-wrapper .alert {
	text-align: center;
	background-color: $white;
}

.form-wrapper {
	text-align: center;
	position: relative;
}

.form {
	transition: opacity $base-transition-time ease;
}


// Loading
.form-wrapper .spinner {
	width: 4em;
	height: 4em;
	position: absolute;
	margin: auto;
	top: 0; left: 0; right: 0; bottom: 0;
	opacity: 1;
	display: inline-block;
	svg {
		width: 100%;
		height: 100%;
		.circle {
			fill: $white;
		}
		.loading {
			fill: $brand-secondary-color;
		}
	}
	z-index: 20;
	opacity: 0;
	transform: scale(0.1);
	visibility: hidden;
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.form-wrapper .alert{
	margin: auto;
  	position: absolute;
  	top: 0; left: 0;
	width: 80%;
	z-index: 2;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%) scale(0.1);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


// Actions
// Is Sending
// Is Result
.form-wrapper {
	&.is-sending,
	&.is-result {
		.form,
		.subscribe-form-area{
			opacity: 0.25;
			pointer-events: none;
		}
	}
	&.is-sending .spinner {
		visibility: visible;
		opacity: 1;
		transform: scale(1);
	}
	&.is-result .alert.is-visible {
		opacity: 1;
		visibility: visible;
		transform: translate(-50%, -50%) scale(1);
	}
	&.is-hidden {
		.form,
		.subscribe-form-area {
			opacity: 0;
		}
	}
	&.is-visible {
		.form {
			opacity: 1;
		}
	}
}


/* @end Validation */


/* @group Form - Alt */

.form--alt {
    #{$all-text-inputs},
    textarea {
		color: $white;
    	border-color: $brand-primary-color-light;
        &:focus {
            border-color: $brand-terciary-color;
        }
    }
	.control-label {
	    color: #ABB6BB;
	}
}

.footer-contact .form-wrapper .alert,
.modal-contact .form-wrapper .alert {
	background-color: $brand-primary-color;
	color: $white;
}


/* @end Form - Alt */
