#{$all-text-inputs},
textarea {
	-webkit-appearance: none;
	outline: none;
    border: none;
	border-bottom: $base-border-width solid $brand-primary-color;
	width: 100%;
	color: $white;
	background-color: transparent;
    font-size: 1rem;
	font-weight: $font-weight-normal;
	padding: 0.5em 0 0.75em 0;
	position: relative;
	display: block;
	border-radius: 0;
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
  	&:hover,
  	&:focus {
    	outline: none;
  	}
  	&:focus {
		border-color: $brand-terciary-color;
  	}
    @include placeholder {
        visibility: hidden;
  	}
}


textarea {
	resize: none;
    display: block;
    min-height: 1em;
	height: 2.6em;
    transition: height 0.3s cubic-bezier(.64,.09,.08,1) min-height 0.3s cubic-bezier(.64,.09,.08,1);
	overflow: hidden;
    &:focus {
     	min-height: 6em;
    }
}

select {
	width: 100%;
}

fieldset {
    border: none;
    padding: 0;
}

fieldset legend {
	display: none;
}


.form-group {
    margin-bottom: 2em;
}


/* Animated placeholder */

/* Animated placeholder */

.form-group {
	position: relative;
	padding-top: 1.7em;
}

.control-label {
    display: block;
    color: #ABB6BB;
	position: absolute;
	pointer-events: none;
	transition: all 0.2s cubic-bezier(.64,.09,.08,1);
	left: 0;
	top: 2em;
}

.form-group.is-focus .control-label {
	color: $brand-terciary-color;
}

.form-group.is-focus .control-label,
.form-group.is-filled .control-label {
	top: 0;
}

.form-group--checkbox {
	padding-top: 0;
	.control-label {
		position: relative;
		top: 0;
	}
}



/* Checkboxes */

input[type="radio"],
input[type="checkbox"] {
	margin-right: 0.5em;
}

.control-label + .checkbox {
    margin-top: 1.1em;
}

.checkbox__inline + .checkbox__inline,
.radio__inline + .radio__inline {
    margin-left: 1.25em;
}


/* Actions */

.form-actions{
    margin-top: 1em;
    text-align: center;
}

.form-actions .btn:only-child {
	padding-left: 3em;
	padding-right: 3em;
}


/* @group Validation */

/* @end Validation */


/* @group Form - Alt */

.form--alt {
    #{$all-text-inputs},
    textarea {
    	border-color: $brand-primary-color-light;
        &:focus {
            border-color: $brand-terciary-color;
        }
    }
}


/* @end Form - Alt */
