img {
    max-width: 100%; /* Adhere to container width. */
    font-style: italic;
    vertical-align: middle;
    height: auto; /* Make sure images are scaled correctly. */

}


figure {
    margin: 0;
}

figcaption {
	font-size: 0.9rem;
    line-height: 1.3;
}



/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin-bottom: 1.5em;
}
.embed-container iframe,
.embed-container object,
.embed-container embed,
.embed-container video {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid $brand-primary-color-light;
}
