// Colors

$dark-blue:                     #0A2E3D;
$dark-blue-alt:                 #052C3C;
$light-blue:                    #7AD2EA;

$brand-primary-color: 			$dark-blue;
$brand-primary-color-light:     #667A81;
$brand-primary-color-lightest:  #809aa5;

$brand-secondary-color: 		#f2461c;

$brand-terciary-color:          $light-blue;

$black:                         #2c2c2c;
$gray-20:                       lighten($black, 80%);
$gray-40:                       lighten($black, 60%);
$gray:                          lighten($black, 50%);
$gray-60:                       lighten($black, 40%);
$gray-70:                       lighten($black, 30%);
$gray-lightest:                 #f1f1f1;
$white:                         #ffffff;

$success-color:					green;
$danger-color:					$brand-secondary-color;

$font-weight-light:				300;
$font-weight-normal:			400;
$font-weight-medium:			700;
$font-weight-bold:				900;

// Base
$font-family-primary:           'Circular', 'Roboto', Helvetica, Arial, sans-serif;
$font-family-secondary:         'GT Walsheim', 'Roboto', Helvetica, Arial, sans-serif;

$font-family-code:              'Source Code Pro', Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

$font-family-text:            'Source Serif Pro', Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

$base-font-family: 				$font-family-primary;
$base-font-size:				18px;
$base-font-size-percent: 		112.5%;
$base-line-height-percent: 		1.8;
$base-line-height:				1.8em;
$base-letter-spacing: 			0.05em;

$base-font-weight: 				$font-weight-normal;
$base-text-color:				#3a3d4a;
$base-background-color:			$white;

$medium-font-size: 				16px;
$medium-font-size-percent: 		100%; // 16px

$small-font-size: 				16px;
$small-font-size-percent: 		100%; // 16px
$small-line-height:				1.5em;
$small-line-height-percent:     1.5;

// Links
$link-text-color: 				$brand-primary-color;
$link-text-color-hover:			$brand-secondary-color;

// Spacing Unit
$base-spacing-unit:           	1em;
$base-spacing-unit--tiny:    	round($base-spacing-unit / 4);
$base-spacing-unit--small:    	round($base-spacing-unit / 2);
$base-spacing-unit--medium:    	round($base-spacing-unit * 1.5);
$base-spacing-unit--large:    	round($base-spacing-unit * 2);
$base-spacing-unit--huge:		round($base-spacing-unit * 4);

$base-padding:					$base-spacing-unit--small;
$base-border-width:             2px;
$base-uppercase-letter-spacing: 0.1em;

// Transitions
$base-transition-time:			0.3s;
$base-transition-time--faster:	0.2s;
$base-transition-time--slower:	0.5s;


// Headings
$heading-font-family: 			$font-family-secondary;
$heading-font-weight:			$font-weight-bold;
$heading-line-height: 			1.1;
$heading-text-color: 			$brand-primary-color;
$heading-margin:				1em;
$heading-letter-spacing: 		-0.02em;

// Navbar
$navbar-mobile-height:		    57px;
$navbar-small-height:		    80px;
$navbar-medium-height:		    84px;
$navbar-large-height:		    95px;

// Max Widths
$max-width:						1210px;
$max-width-narrow:				1000px;
$max-width-thin:				800px;

// Media queries breakpoints
$screen-xsmall:					480px;
$screen-small:					640px;
$screen-medium: 				960px;
$screen-large:					1365px;
$screen-huge:					1600px;
$screen-xhuge:					2200px;

$screen-xsmall-min:				$screen-xsmall;
$screen-small-min:				$screen-small;
$screen-medium-min:				$screen-medium;
$screen-large-min:				$screen-large;

// So media queries don't overlap when required, provide a maximum
$screen-xsmall-max:             ($screen-small-min - 1);
$screen-small-max:              ($screen-medium-min - 1);
$screen-medium-max:             ($screen-large-min - 1);
