
/* @group Hero */

.tpl-about .hero {
    background-color: $brand-secondary-color;
    background-image: url("../images/about-hero-bg-b.jpg");
    background-position: top center;

}


.tpl-about .hero .hero__heading {
    position: relative;
    z-index: 10;
}


.tpl-about .hero .page__name {
    color: rgba($white, 0.8);
    &:before {
        border-color: rgba($white, 0.8);
    }
}

/* @end Hero */


/* @group Timeline */

.ps-timeline {
    background-color: $gray-lightest;
    padding-bottom: 0;
}

.ps-timeline .timeline > li:last-child {
    //padding-bottom: 6em;
    .timeline-block {
        margin-bottom: 0;
        padding-bottom: 8em;
    }
}

.timeline-present {
    position: relative;
    overflow: hidden;
    padding: 10em 0 24em 0;
    text-align: left;
    background-color: #B1D6E6;
    color: $brand-primary-color;
    z-index: 1;
    // Image
    &:after {
        position: absolute;
        content: "";
        display: block;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30em;
        background-image: url("../images/about-present-bg.jpg");
        background-size: auto 100% ;
        background-position: center bottom;
        background-repeat: no-repeat;
        z-index: -1;
    }
    @include respond-to("medium") {
        text-align: center;
    }
}

.timeline-present > .container {
    max-width: 500px;
    @include respond-to("medium") {
        max-width: $max-width-thin;
    }
}

.timeline-present__content {
    @include ts(1);
    position: relative;
    color: $brand-primary-color;
}
.timeline-present time {
    color: $brand-secondary-color;
    margin-bottom: 1em;
    display: inline-block;
    font-size: 1.25em;
}



/* Top dots decoration */

.ps-timeline {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: -12em;
        left: 0;
        display: block;
        width: 100%;
        background-image: url("../images/dots-bg.svg");
        background-repeat: repeat;
        background-position: top;
        height: 24em;
        background-size: 48px 48px;
    }
}


/* @end Timeline */
