/* @group  Article Hero */

.article-header .hero {
    position: relative;
    padding: 4em 0;
    // Darken the image
    &:before{
        content: "";
        display: block;
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: rgba($black, 0.7);
        z-index: 1;
    }
}

.article-header .hero > .container {
    height: 100%;
}

.article-header .hero__heading {
    position: relative;
    z-index: 2;
}

.article__title {
    @include ts(10);
    font-weight: $font-weight-medium;
    line-height: 1.2em;
    margin: 0.5em 0;
}

.hero .article__title,
.hero .article__date {
    color: $white;
}

.hero .article__date {
    @include ts(-1);
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.hero .tags-list > li {
    margin: 0.25em;
    display: none;
}
.hero .tags-list > li:nth-child(1),
.hero .tags-list > li:nth-child(2),
.hero .tags-list > li:nth-child(3) {
    display: inline-block;
}

@include respond-to("medium") {
    .article-header .hero {
        height: 36em;
    }
    .article-header .hero__heading {
        position: relative;
    	top: 50%;
    	transform: translateY(-50%);
    }
}

/* @end Article Hero */

/* @group Article Body */


.article-body {
    @extend .page-section;
}

.article-body > .container {
    max-width: 42em;
}

.article .body-content {
    font-family: $font-family-text;
    line-height: 1.8;
    margin-bottom: 4em;
    @include headings {
        font-family: $heading-font-family;
        margin: ($heading-margin * 2) 0 $heading-margin 0;
    }
    @include respond-to("medium") {
        font-size: 1.0555555556rem;
    }
}

// Intro
.article .body-content.has-intro > p:first-child {
    color: $brand-primary-color-light;
    @include ts(1);
    margin-bottom: 2.5em;
    &:first-child:first-letter {
        float: left;
        color: $brand-primary-color;
        font-size: 5.25em;
        line-height: 0.9;
        padding-top: 0.1em;
        padding-right: 8px;
        padding-left: 3px;
    }
}


.article .body-content h2 {
    @extend .h3;
}

.article .body-content h3 {
    @extend .h4;
    font-weight: $font-weight-medium;
}

.article .body-content h4 {
    @extend .h5;
    font-weight: $font-weight-medium;
}

.article .body-content blockquote,
.article-body hr:first-child + p {
    margin: 2.5em 0;
    background-color: lighten($brand-terciary-color, 20%);
    padding: 1.5em;
    border-left: 8px solid $brand-terciary-color;
    color: $brand-primary-color;
}

.article-body hr {
    display: none;
}

.article .body-content figure,
.article .body-content blockquote,
.article-body hr:first-child + p {
    margin-left: -6.25vw;
    margin-right: -6.25vw; //width: 87.5%;
}


.article .body-content .soundbite {
    padding: 1.5em;
    @include respond-to("medium") {
        padding: 2em;
    }
}
.soundbite p {
    @include ts(1);
    font-weight: $font-weight-medium;
}
.soundbite .actions {
    margin-top: 1em;
}
.soundbite .actions .btn {
    font-size: 0.75rem;
    padding: 0;
    color: darken($brand-terciary-color, 20%);
    &:hover,
    &:focus {
        color: darken($brand-terciary-color, 30%);
    }
    @include respond-to("medium") {
        font-size: 0.8rem;
    }
}
.soundbite .actions .btn .icon {
    position: relative;
    top: -0.05em;
    font-size: 1.5em;
    margin-right: 0.2em;
    display: inline-block;
    vertical-align: middle;

}

// Code

/* @end  Article Body */

/* @group Share */

.article-share {
    // padding: 2em 0;
    // border-top: 8px solid lighten($brand-terciary-color, 20%);
    // border-bottom: 8px solid lighten($brand-terciary-color, 20%);
}

.article-share .social-links > ul > li {
    margin: 0 0.25em;
}

.article-share .social-links .icon {
    display: inline-block;
    vertical-align: middle;
}

.article-share .social-link__count {
    display: inline-block;
    line-height: 1;
    font-size: 0.8em;
    vertical-align: middle;
    color: $brand-primary-color-light;
    border: 2px solid $brand-primary-color-lightest;
    padding: 0.25em 0.35em;
    position: relative;
    margin-left: 0.5em;
    &:before {
        content: "";
        position: absolute;
        display: block;
        left: -0.5em;
        top: 50%;
        width: 0.5em;
        height: 2px;
        background-color: $brand-primary-color-lightest;
    }
}

.article-share__links {
    text-align: center;
    @include no-deflist;
    > dt {
        font-size: 0.8rem;
        font-weight: $font-weight-bold;
        color: $brand-primary-color-light;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
}

.article-share__comments .btn{
    width: 100%;
}

.article-share__links {
    margin-bottom: 2em;
}

.article-share,
.article-related,
.article-comments {
    margin: 4em 0;
}



@include respond-to("small") {
    .article-share {
        @include container;
    }
    .article-share__links {
        text-align: left;
        @include span(8 of 12);
        margin-bottom: 0;
    }
    .article-share__comments {
        @include span(4 of 12);
        @include last;
        text-align: right;
        margin-bottom: 0;
    }
    .article-share__comments .btn{
        font-size: 0.8rem;
        width: auto;
    }
    .article-share__links {
        > dt {
            margin-bottom: 0;
        }
        > dt,
        > dd {
            display: inline-block;
        }
    }
}



/* @end  Share */

/* @group  Newsletter */


/* @end  Newsletter */
