/* @group Header */

.tpl-home .site-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

/* @end Header */

/* @group About */

.ps-home-about{
    position: relative;
    padding-bottom: 18em;
    text-align: center;
    z-index: 1;
    background-color: #F9FAFE;
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 18em;
        background-image: url('../images/home-about-bg.jpg');
        background-repeat: no-repeat;
        background-position: bottom center;
        z-index: -1;
        background-size: auto 18em;
    }
    @include respond-to("medium") {
        padding-bottom: 7em;
        background-image: none;
        background-image: none;
        // Image background
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 2400px;
            height: 100%;
            top: 0;
            bottom: auto;
            left: 50%;
            z-index: -1;
            margin-left: -1580px;
            background-image: url('../images/home-about-bg.jpg');
            background-position: bottom center;
            background-size: cover;
        }
    }
    // Dots decoration
    &:after {
        content: "";
        position: absolute;
        bottom: -6.1em;
        left: 0;
        display: block;
        width: 100%;
        background-image: url("../images/dots-bg.svg");
        background-repeat: repeat;
        background-position: top;
        height: 6.1em;
        background-size: 48px 48px;
    }
}

.ps-home-about > .container {
    max-width: 600px;
}

.ps-home-about .page-section__header {
    margin-bottom: 1.5em;
}

.ps-home-about .page-section__title {
    @include ts(5);
    font-weight: $font-weight-medium;
    line-height: 1.2;
}

.ps-home-about .page-section__title,
.ps-home-about p {
    text-shadow: 0 0 10px rgba(white, 1);
}

.ps-home-about .social-links {
    margin: 2em 0;
}


/* @end About */


/* @group Methodology */

.ps-home-method {
    padding-bottom: 1em;
    position: relative;
    // Gray bg
    &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6.3em;
        background-color: $gray-lightest;
        z-index: -1;
    }
    // Dots decoration
    &:after {
        content: "";
        position: absolute;
        bottom: -7em;
        left: 0;
        display: block;
        width: 100%;
        background-image: url("../images/dots-bg.svg");
        background-repeat: repeat;
        background-position: top;
        height: 24em;
        background-size: 48px 48px;
    }
}

/* @end Methodology */


/* @group Blog */

.ps-home-blog {
    background-color: $gray-lightest;
}

.ps-home-blog .blog-list {
    > .blog-list__item:nth-child(4) {
        display: none;
        @include respond-to("small") {
            display: block;
        }
        @include respond-to("medium") {
            display: none;
        }
    }

}

.ps-home-blog .page-section__content > .actions {
    text-align: center;
    margin-top: 3.5em;
}


/* @end Blog */
