.badge {
    background-color: $brand-primary-color;
    font-family: $heading-font-family;
    color: $white;
    display: inline-block;
    letter-spacing: 0.1em;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
    padding: .4em .6em .3em;
    line-height: 1;
    font-size: 1em;
    white-space: nowrap;
}
