.blog-item {
    max-width: 600px;
    margin: 0 auto;
    cursor: pointer;
}

.blog-item__title {
    @include ts(3);
    font-family: $base-font-family;
    line-height: 1.2;
    a {
        @include no-link;
        &.hover {
            color: $link-text-color-hover;
        }
    }
}

.blog-item__meta {
    @extend .sr-only;
}

.blog-item__image {
    position: relative;
}

.blog-item__image .badge {
    position: absolute;
    top: 0;
    right: 0;
}

.blog-item__excerpt {
    @include ts(-1);
    line-height: 1.5;
    color: $brand-primary-color-light;
    margin-bottom: 0;
}

.blog-item .actions {
    margin-top: 1.5em;
}

.blog-item__excerpt + .actions {
    margin-top: 0.5em;
}

.blog-item .btn--more{
    background: none;
	box-shadow: none;
	padding-right: 0;
    padding-left: 0;
    @include ts(-2);
    letter-spacing: 0.1em;
    color: $brand-primary-color;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    .icon {
        opacity: 0;
        transform: translateX(-0.25em);
        transition:
            opacity $base-transition-time--faster,
            transform $base-transition-time--faster cubic-bezier(.64,.09,.08,1);
    }
    &:visited{
        color: $brand-primary-color;
    }
    &:hover,
    &:focus,
    &.hover {
        color: $brand-secondary-color;
        .icon {
            transform: translateX(0);
            opacity: 1;
        }
    }
}
