.blog-item {

}

.blog-item__title {
    font-family: $base-font-family;
    @include ts(4);
    a {
        text-decoration: none;
    }
}

.blog-item__meta {
    @extend .sr-only;
}

.blog-item__image {
    position: relative;
}

.blog-item__image .badge {
    position: absolute;
    top: 0;
    right: 0;
}


.blog-item .btn--more {
    @include ts(-2);
    letter-spacing: $base-letter-spacing;
    color: $brand-primary-color-light;
    text-transform: uppercase;
    text-decoration: none;
    &:hover,
    &:focus {
        color: $brand-secondary-color;
    }
}
