.footer-newsletter {
    @extend .footer-contact;
    padding: 2.5em 0 3em 0;
    text-align: center;
    background-repeat: repeat-x;
    background-size: 1400px auto;
    //background-image: url('../images/posts/generic/post-hero.svg');
}

.footer-newsletter > .container{
    max-width: 38em;
}

.footer-newsletter__img {
    margin-bottom: 0.75em;
    margin-left: auto;
    margin-right: auto;
    max-width: 96px;
    svg {
        display: inline-block;
        width: 100%;
    }
}

.footer-newsletter__title{
    @include ts(4);
    line-height: 1.4;
    color: $white;
    font-weight: $font-weight-medium;
}

.footer-newsletter__header {
    margin-bottom: 0.5em;
}

.footer-newsletter .subscribe-form {
    max-width: 25em;
    margin: 0 auto;
    .control-label,
    .form-control {
        font-size: 0.87rem;
    }
    .control-label {
        top: 2.25em;
    }
    .form-group.is-filled .control-label,
    .form-group.is-focus .control-label{
        top: 0;
    }
    .btn {
        font-size: 0.8rem;
        padding-left: 1em;
        padding-right: 1em;
    }
}

@include respond-to("small") {
    .footer-newsletter__header {
        display: flex;
        text-align: left;
        align-items: center;
    }
    .footer-newsletter__img {
        text-align: right;
        margin-bottom: 0;
        width: 30%;
        margin-right: 1.5em;
        svg {
            vertical-align: middle;
        }
    }
}
