.hero-intro {
    height: 100vh;
    position: relative;
    overflow: hidden;
    min-height: 520px;
    @include respond-to("small") {
        min-height: 630px;
    }
    @include respond-to("medium") {
        min-height: 850px;
    }
}

.hero-intro > .container {
    height: 100%;
    @extend .container--narrow;
}

.hero-intro .hero-intro__wrapper {
    @include vertical-align;
    @include respond-to("medium") {
        padding-top: $navbar-medium-height;
    }
    @include respond-to("large") {
        padding-top: $navbar-large-height;
    }
}


.hero-intro {
    background-color: #052a39;
    background-image: url('../images/home-hero-bg.svg');
    background-size: 70px 70px;
    background-repeat: repeat;
    background-position: center;
    color: $white;
}

.hero-intro .hero__header {
    position: relative;
    z-index: 1;
    max-width: 530px;
    @include respond-to("small") {
        max-width: 580px;
        margin-right: auto;
        margin-left: auto;
    }
    @include respond-to("medium") {
        max-width: 650px;
    }
    @include respond-to("large") {
        max-width: 800px;
    }
    @include respond-to("xhuge") {
        max-width: 940px;
    }
}

.hero-intro .hero__title {
    color: $white;
    text-transform: uppercase;
    line-height: 1.1;
    margin-bottom: 0.25em;
    font-size: 2.25rem;
    @include respond-to("small") {
        font-size: pxrem(45px, $small-font-size);
    }
    @include respond-to("medium") {
        font-size: pxrem(50px, $medium-font-size);
    }
    @include respond-to("large") {
        font-size: pxrem(60px, $base-font-size);
    }
    @include respond-to("xhuge") {
        font-size: pxrem(72px, $base-font-size);
    }
}

.hero-intro .hero__title__concept {
    color: $brand-terciary-color;
}

.hero-intro .hero__subtitle {
    @include ts(2);
    margin-bottom: 0;
}

.hero__read-more {
    @include no-link;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: $font-weight-medium;
    letter-spacing: 0.15em;
    position: absolute;
    color: $white;
    bottom: 3.5em; left: 0;
    width: 100%;
    text-align: center;
    &:hover,
    &:focus {
        color: $brand-secondary-color;
        .icon svg .shape{
            fill: $brand-secondary-color;
        }
    }
    @include respond-to("medium") {
        font-size: pxrem(14px);
    }
}

.hero__read-more .text {
    display: block;
    margin-bottom: 0.75em;
}



.hero__read-more .icon{
    display: block;
    width: 2em;
    height: 2em;
    margin: 0 auto;
    svg .shape{
        transition: fill $base-transition-time--faster;
        fill: $white;
    }
}

// Illustrations
.hero-intro__step {
    @extend .h1;
    position: absolute;
    width: 5em;
    height: 5em;
    display: block;
    z-index: -1;
    transition: all $base-transition-time--faster ease;
    margin: 0;
}

.hero-intro__step--1 {
    top: -4em; left: -2.5em;
    transform-origin: bottom right;
    @include respond-to("small") {
        top: -3.5em; left: -1.5em;
    }
}

.hero-intro__step--2 {
    top: -5em;
    right: -1.5em;
    transform-origin: bottom left;
    @include respond-to("small") {
        top: -4.75em;
        right: -1em;
    }
}

.hero-intro__step--3 {
    left: -3em;
    transform-origin: top right;
    @include respond-to("small") {
        left: -0.75em;
        bottom: -4.75em;
    }
}

.hero-intro__step--4 {
    right: -2.75em;
    transform-origin: top left;
    @include respond-to("small") {
        right: -1em;
    }
}

// Animations

.hero-intro .hero__title,
.hero-intro .hero__subtitle,
.hero-intro__step,
.hero__read-more {
    visibility: hidden;
}

.hero-intro .hero__title        { animation-delay: 0.2s; }
.hero-intro .hero__subtitle     { animation-delay: 0.5s; }
.hero-intro__step--1            { animation-delay: 0.8s; }
.hero-intro__step--2            { animation-delay: 1s; }
.hero-intro__step--3            { animation-delay: 1.2s; }
.hero-intro__step--4            { animation-delay: 1.4s; }
.hero-intro .hero__read-more    { animation-delay: 1.6s; }
