.hero {
    text-align: center;
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: $base-spacing-unit 0;
    color: #fff;
    @include respond-to("medium") {
		padding: 5em 0;
	}
    @include respond-to("large") {
        height: 540px;
    }
}

.hero .page__name {
    
}

.hero .page__title {
    color: $white;
    margin-top: 0;
}
