.hero {
    text-align: center;
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
    //background-attachment: fixed;
	padding: $base-spacing-unit 0;
    color: #fff;
    height: auto;
    padding: 4em 0;
    @include respond-to("medium") {
        padding: 8em 0 2em 0;
    }
}

// Large
.hero.hero--large {
    @include respond-to("medium") {
        padding: 8em 0;
        height: 36em;
    }
}


.hero__header {
    text-align: center;
}

.hero__title {
    margin-top: 0;
}

.hero.hero--large .page__title {
    color: $white;
    margin-top: 0;
}


.hero .page__name {
    // Vertical line
    &:before {
        height: 5em;
        @include respond-to("medium") {
            height: 6em;
        }
    }
}


// Animations
.hero .page__name         { animation-delay: 0.2s; }
.hero .page__title        { animation-delay: 0.5s; }
