.hero {
    text-align: center;
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
    //background-attachment: fixed;
	padding: $base-spacing-unit 0;
    color: #fff;
    height: auto;
    padding: 4em 0;
    position: relative;
    @include respond-to("medium") {
        padding: 8em 0 2em 0;
    }
}

// Large
.hero.hero--large {
    @include respond-to("medium") {
        padding: 8em 0;
        height: 36em;
    }
}


.hero__header {
    text-align: center;
}

.hero__title {
    margin-top: 0;
}

.hero.hero--large .page__title {
    color: $white;
    margin-top: 0;
}


.hero .page__name {
    // Vertical line
    &:before {
        height: 5em;
        @include respond-to("medium") {
            height: 6em;
        }
    }
}

.hero a{
    color: $white;
}

.hero__credit{
    opacity: 0.8;
    font-size: 0.75rem;
    color: #e9e9e9;
    padding: 1em 1em;
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
}

.hero__credit a {
    color: $white;
}

.hero__credit .credit__locale {
    display: none;
    @include respond-to("medium") {
        display: inline-block;
    }
}

// Animations

.hero .page__name,
.hero .page__title {
    visibility: hidden;
}
.hero .page__name         { animation-delay: 0.2s; }
.hero .page__title        { animation-delay: 0.5s; }
