.modal {
    position: relative;
    background-color: $white;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}


.modal .modal-toggle-btn {
    @extend .navbar-toggle-btn;
    color: $brand-primary-color;
    position: absolute;
    top: 1em; bottom: auto;
    right: 0.25em; left: auto;
    left: auto;
    height: auto;
    display: block;
    @include respond-to("navbar-collapse") {
        right: 1em;
    }
}


// Full screen
/*
TODO: Jumpy modal when using form tabs in mobile. Check https://github.com/dimsemenov/Magnific-Popup/issues/12
*/


.mfp-full {
    min-width: 101%;
  //-webkit-transform: translateZ(0);

}
html.mfp-helper {
  height: 100%;
  body{
    overflow: hidden;
    height: 100%;
    //-webkit-transform: translateZ(0);
  }
}


.mfp-full.mfp-bg {
    background: none;
}

.mfp-full .mfp-container {
    padding: 0;
}

.mfp-full .modal {
    max-width: none;
    margin: auto;
    padding: 4em 0;
}

// TODO: Fix scrolling on small window size. Add a height media query and remove the vertical centering (and the heigh 100%)

.mfp-full .mfp-content,
.mfp-full .modal {
    min-height: 100%;
    background-color: $brand-primary-color;
    @include respond-to("small") {
        height: 100%;
    }
}

.mfp-full .mfp-content {
    position: relative;
}

.mfp-full .modal__wrapper {
    @include respond-to("small") {
        position: relative;
    	top: 50%;
    	// transform: translateY(-50%);
    }
}




// Animation

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
