.pagination {
    text-align: center;
    > ul {
        @include no-list;
        display: inline-block;
    }
    > ul > li {
        display: inline-block;
    }
}

.pagination__pager,
.pagination__number {
    @extend .btn;
    @extend .btn--hollow;
    &.active {
        cursor: default;
    }
}

.pagination__number {
    display: none;
    padding-left: 1.25em;
    padding-right: 1.25em;
    @include respond-to("small") {
        display: inline-block;
    }
}
