
.areas__filters {
    display: none;
    @include respond-to("medium") {
        display: block;
    }
}

.areas__filters .nav-tabs > li {
    margin: 0;
}


.areas__list {
    @include no-list;
}


.areas__list .area {
    padding: 1.5em 1.5em 2em 1.5em;
    background-color: $white;
    display: block;
    border: $base-border-width solid $brand-primary-color;
    @include respond-to("small") {
        padding: 2.5em;
    }

}

.area__icon {
    display: block;
    max-width: 75px;
    margin-bottom: 1em;
}

.area__title {
    @extend .h5;
    font-weight: $font-weight-medium;
    letter-spacing: 0;
    margin: 0 0 0.5em 0;
}


.area__description {
    @include ts(-1);
    color: $brand-primary-color-light;
    margin-bottom: 0;
}



// Layout

$areas_gutter: 0.75em;

.areas__list {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    @include respond-to("small") {
        margin-left: -($areas_gutter / 2);
        margin-right: -($areas_gutter / 2);
    }
}
.areas__list > .areas__item {
    width: 100%;
    flex-basis: 100%;
    display: flex;
    animation-duration: 0.5s;
    margin-bottom: $areas_gutter;
    @include respond-to("small") {
        width: 50%;
        flex-basis: 50%;
        padding: 0 ($areas_gutter / 2);
    }
}
