.social-links {
    > ul {
        @include no-list;
        line-height: 1;
    }
    > ul > li {
        display: inline-block;
        vertical-align: middle;
    }
    > ul > li > a {
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
    }
    .icon {
        //width: 2em;
        //height: 2em;
        font-size: 1.5em;
        display: block;
    }
}
