.subscribe-form {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.subscribe-form .form-group {
    margin-bottom: 0;
    flex: 2.5 0 0;
}
.subscribe-form .btn {
    flex: 1 0 0;
    margin-left: 1em;
}
