.nav-tabs {
    text-align: center;
    margin: 3em 0;
}

.nav-tabs > li {
    margin: 0 0.5em;
}

.nav-tabs > li > a,
.nav-tabs > li > button {
    border: none;
    background: none;
    outline: none;
    color: $brand-primary-color-lightest;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    letter-spacing: $base-uppercase-letter-spacing;
    @include ts(-2);
    position: relative;
    display: block;
    padding: 0.5em 1.5em;
    &:hover {
        color: $brand-primary-color;
    }
    &:after {
        content: "";
        position: absolute;
        width: 1em;
        height: 1em;
        display: block;
        background-image: url("../images/tab-active-arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
        bottom: -0.75em;
        left: 0; right: 0;
        margin: 0 auto;
        opacity: 0;
        transform: translateY(-1em);
        transition: all $base-transition-time;
    }
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > button  {
    color: $brand-secondary-color;
    &:after {
        opacity: 1;
        transform: translateY(0);
    }
}
