.page-header {
    text-align: center;
}

.page__name {
    text-transform: uppercase;
    color: $brand-secondary-color;
    font-weight: $font-weight-medium;
    font-size: 0.89rem;
    letter-spacing: 0.15em;
    position: relative;
    padding-top: 5em;
    &:before {
        content: "";
        position: absolute;
        bottom: 3.5em;
        margin: 0 auto;
        left: 1px; right: 0;
        width: 1px;
        height: 5em;
        border-right: $base-border-width solid $brand-secondary-color;
    }
}

.page__title {
    color: $brand-primary-color;
    line-height: 1.1;
    margin-top: 0;
}

.page__subtitle {
    color: $brand-primary-color-light;
}



/* @group Page Section */

.page-section {
    padding: 2em 0;
    @include respond-to("medium") {
        padding: 7em 0;
    }
}


.page-section__header {
    @extend .page-header;
    margin-bottom: 3.5em;
}

.page-section__name {
    @extend .page__name;
}

.page-section__title {
    @extend .page__title;
}

.page-section__subtitle {
    @extend .page__subtitle;
}

/* @end Page Section */
