.page-header {
    text-align: center;
}

.page__name {
    text-transform: uppercase;
    color: $brand-secondary-color;
    font-weight: $font-weight-medium;
    font-size: pxrem(11px, $small-font-size);
    letter-spacing: 0.15em;
    position: relative;
    padding-top: 5em;
    // Vertical line
    &:before {
        content: "";
        position: absolute;
        bottom: 3.5em;
        height: 5em;
        margin: 0 auto;
        left: 1px; right: 0;
        width: 1px;
        border-right: $base-border-width solid $brand-secondary-color;
    }
    @include respond-to("medium") {
        font-size: 0.889rem;
        &:before {
            bottom: 4em;
            height: 6em;
        }
    }
}

.page__title {
    @extend .h1;
    color: $brand-primary-color;
    font-weight: $font-weight-bold;
    line-height: 1.1;
    margin: 0;
}

.page__subtitle {
    color: $brand-primary-color-light;
    font-weight: $font-weight-normal;
}



/* @group Page Section */

.page-section {
    padding: 4.5em 0;
    @include respond-to("medium") {
        padding: 7em 0;
    }
}

.page-section__header {
    @extend .page-header;
    margin-bottom: 3.5em;
}

.page-section__name {
    @extend .page__name;
    font-size: 0.75rem;
}

.page-section__title {
    @extend .page-section__title;
    @include ts(9);
}

.page-section__subtitle {
    @extend .page__subtitle;
    @include ts(1);
}

.page-section__body p:last-child,
.page-subsection__body p:last-child {
    margin-bottom: 0;
}


.page-section .actions {
    margin-top: 2em;
    @include respond-to("medium") {
        margin-top: 3.5em;
    }
}

/* @end Page Section */


/* @group Page Subsection */

.page-subsection {
    margin-bottom: 3.5em;
    &:last-child {
        //margin-bottom: 0;
    }
    @include respond-to("medium") {
        margin-bottom: 4em;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.page-subsection__header {
    margin-bottom: 1.5em;
}
.page-subsection__title {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 1.1666666667rem;
    letter-spacing: 0.05em;
}
/* @end Page Subsection */
