.site-footer {
    background-color: #e2e2e2;
    padding: 2em 0;
    font-size: pxrem(15px);
}

.site-footer-logo {
    display: block;
    line-height: 1;
    .text {
        @extend .sr-only;
    }
    .icon {
        height: 2.5em;
        width: 2.5em;
        display: inline-block;
    }
    svg{
        @include vertical-align;
        display: block;
        .shape {
            fill: $brand-primary-color;
        }
    }
}

.site-footer__social {
    > dl {
        @include no-deflist;
    }
    > dl > dt {
        @extend .sr-only;
    }
}

.site-footer__social .social-links {
    ul > li  {
        margin: 0 0.75em;
    }
    .icon {
        line-height: 1;
        font-size: 1.75em;
    }
    .text {
        @extend .sr-only;
    }
}

@include respond-to("medium") {
    .site-footer > .container {
        //@include clearfix;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .site-footer__nav {
        order: 2;
        //position: absolute;
        text-align: center;
        z-index: 1;
        width: 20%;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .site-footer__copy {
        order: 1;
        width: 40%;
        //float: left;
        text-align: left;
    }
    .site-footer__social {
        order: 3;
        width: 40%;
        //float: right;
        text-align: right;
        ul > li:last-child {
            margin-right: 0;
        }
    }
}
