.site-footer {
    background-color: #e2e2e2;
    padding: 2em 0;
    text-align: center;
}

.site-footer-logo {
    display: block;
    line-height: 1;
    .text {
        @extend .sr-only;
    }
    .icon {
        height: 2.25em;
        width: 2.25em;
        display: inline-block;
        transform: rotate(0deg) scale(1);
        transition: all $base-transition-time--faster cubic-bezier(.87,-.41,.19,1.44);
    }
    svg{
        @include vertical-align;
        display: block;
        .shape {
            fill: $brand-primary-color;
            transition: fill $base-transition-time--faster;
        }
    }
    &:hover,
    &:focus{
        .icon {
            transform: rotate(90deg) scale(1.1);
            transform-origin: 50% 50%;
        }
        svg .shape{
            fill: $brand-secondary-color;
        }
    }
}

.site-footer__nav {
    margin-bottom: 0.5em;
}
.site-footer__copy {
    margin-bottom: 1.5em;
    @include ts(-1);
    color: $brand-primary-color-light;
}

.site-footer__social {
    > dl {
        @include no-deflist;
    }
    > dl > dt {
        @extend .sr-only;
    }
}

.site-footer__social .social-links {
    ul > li  {
        margin: 0 0.75em;
    }
    > ul > li > a {
        padding: 0;
    }
    .icon {
        line-height: 1;
        font-size: 1.25em;
    }
    .text {
        @extend .sr-only;
    }
}


@include respond-to("small") {
    .site-footer > .container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .site-footer__nav {
        order: 2;
        text-align: center;
        z-index: 1;
        width: 20%;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .site-footer__copy {
        order: 1;
        width: 40%;
        text-align: left;
        margin-bottom: 0;
    }
    .site-footer__social {
        order: 3;
        width: 40%;
        text-align: right;
        ul > li:last-child {
            margin-right: 0;
        }
    }
}
