{% include header.html bodyClass="tpl-post"%}

   <!-- Here go all fields from the post YAML like image, etc. -->
  <article class="article">

    <header class="article-header {% if article.hero %} {% else %} article-header--no-hero {% endif %}">
        <div class="hero" style="background-image: url('{% if article.hero %} {% else %} {{site.url}}/images/posts/generic/post-hero.svg{% endif %}')">
            <div class="container container--narrow">

                <div class="hero__heading">
                    <time class="article__date wow fadeInDown">{{ page.date | date: '%B %d, %Y' }}</time>

                    <h1 class="article__title wow fadeInDown">{{page.title}}</h1>

                    <div class="article__tags wow fadeInDown">
                        <ul class="tags-list">
                             {% for tag in page.tags | pop: 5 %}
                               <li><a class="tag" href="/tag/{{tag}}">#{{tag}}</a></li>
                             {% endfor %}
                        </ul>
                    </div><!-- .article__tags -->
                </div><!-- .hero__heading -->

            </div><!-- .container -->
        </div><!-- .hero -->
    </header><!-- .article-header -->

    <div class="article-body">
        <div class="container">

            <!-- TODO: Code speed reader -->

            <!-- Content -->
            <div class="body-content {% if page.intro %}has-intro{% endif %}">
                {{ content }}
            </div><!-- .body-content -->
        </div><!-- .container -->
    </div><!-- .article-body -->

    <footer class="article-footer">

        <!-- Share -->
        {% include article-share.html %}

        {% if page.related_posts.size > 0 %}
            <div class="article-section article-related">
                <div class="container">
                    <header class="article-section__header">
                        <h2 class="article-section__title">Related thoughts:</h2>
                    </header>
                    <nav>
                        <ul class="custom-list">
                            {% for post in site.posts %}

                                 {% assign current = post %}
                                 {% capture current_slug %}{{ current.id | slugify }}{% endcapture %}
                                 {% if page.related_posts contains current_slug %}
                                    <li><a href="{{post.url}}">{{post.title}}</a></li>
                                 {% endif %}
                             {% endfor %}
                        </ul>
                    </nav><!-- .article-related -->
                </div><!-- .container -->
            </div><!-- .article-section -->
        {% endif %}


        <!-- Subscribe to newsletter -->
        {% include footer-newsletter.html %}

        <!-- Disqus comments -->
        <div class="article-section article-comments" id="comments">
            <div class="container">
                {% if page.comments != false %}
                  {% include comments.html %}
                  <div id="disqus_thread"></div><!-- /#disqus_thread -->
                {% endif %}
            </div><!-- .container -->
        </div><!-- .article-comments -->


    </footer><!-- .article-footer -->
</article><!-- .article -->

{% include footer.html %}
