{% include header.html bodyClass="tpl-post"%}

   <!-- Here go all fields from the post YAML like image, etc. -->
  <article class="article">

    <header class="article-header">
        <div class="hero" style="background-image: url('https://unsplash.it/600/400/?random')">
            <div class="container container--narrow">

                <div class="hero__heading">
                    <time class="article__date">{{ page.date | date: '%B %d, %Y' }}</time>

                    <h1 class="article__title">{{page.title}}</h1>

                    <div class="article__tags">
                        <ul class="tags-list">
                             {% for tag in page.tags | pop: 5 %}
                               <li><a class="tag" href="/tag/{{tag}}">#{{tag}}</a></li>
                             {% endfor %}

                        </ul>
                    </div><!-- .article__tags -->
                </div><!-- .hero__heading -->

            </div><!-- .container -->
        </div><!-- .hero -->
    </header><!-- .article-header -->


    <div class="article-body">
        <div class="container">

            <!-- Speed reader -->
            <div class="speed-reader">
                <!-- TODO: Code speed reader -->
            </div><!-- .speed-reader -->

            <!-- Start content -->
            <div class="body-content {% if page.intro %}has-intro{% endif %}">
              {{ content }}
            </div>
            <!-- Share -->
            <div class="article-share">
                <dl class="article-share__links">
                    <dt>Share on</dt>
                    <dd>
                        <div class="social-links">
                            <ul class="nav">
                                <li>
                                    <a href="#" data-url="http://gon.to/{{page.url}}" data-type="twitter" data-txt="{{page.title}}" data-via="mgonto" data-count="true" class="js-share-btn">
                                        <i class="icon icon-twitter"></i>
                                        <span class="text">Twitter</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-url="http://gon.to/{{page.url}}" data-type="facebook" data-txt="{{page.title}}" data-via="mgonto" data-count="true" class="js-share-btn">
                                        <i class="icon icon-facebook"></i>
                                        <span class="text">Facebook</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-url="http://gon.to/{{page.url}}" data-type="linkedin" data-txt="{{page.title}}" data-via="mgonto" data-count="true" class="js-share-btn">
                                        <i class="icon icon-linkedin"></i>
                                        <span class="text">Linkedin</span>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- .social-links -->
                    </dd>
                </dl>

                <div class="article-share__comments">
                    <a href="#comments" class="disqus-comment-count" data-disqus-url="{{site.url}}{{page.url}}"> <!-- Count will be inserted here --> </span>
                </div>
            </div><!-- .article-share -->

            <!-- TODO: Add article related -->
            <!-- {% if page.related_posts.size > 0 %}
            {% endif %} -->
            <nav class="article-pager">
                <ul>
                    <li>
                        <a href="#">Previous article</a>
                    </li>
                    <li>
                        <a href="#">Next article</a>
                    </li>
                </ul>
            </nav><!-- .article-pager -->

            {% include footer-newsletter.html %}

            <!-- Comments -->
            <div class="article-comments" id="comments">
                {% if page.comments != false %}
                  {% include comments.html %}
                  <div id="disqus_thread"></div><!-- /#disqus_thread -->
                {% endif %}
            </div><!-- .article-comments -->


        </div><!-- .container -->
    </div><!-- .article-body -->


</article><!-- .article -->



{% include footer.html %}
